@use "./breakpoint" as bre;
@use "./variable" as var;

.bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  height: 250px;
  width: 100%;

  @include bre.mq(pc) {
    height: 450px;
  }
}
.salad-bg {
  background-image: url(../img/background/img-sp-salad.jpg);
  background-position: center center;

  @include bre.mq(pc) {
    background-image: url(../img/background/img-salad.png);
  }
}
.shop-bg {
  background-image: url(../img/background/img-sp：店内.png);

  @include bre.mq(pc) {
    background-image: url(../img/background/img：店内.png);
  }
}
