@use "./breakpoint" as bre;
@use "./variable" as var;

.bg {
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  height: 250px;
  width: 100%;

  @include bre.mq(pc) {
    height: 450px;
  }
}
.salad-bg {
  background-image: url(../img/background/img-sp：サラダ.png);

  @include bre.mq(pc) {
    background-image: url(https://github.com/k31t4-2/GreenSalad/blob/main/img/background/img%EF%BC%9A%E3%82%B5%E3%83%A9%E3%83%80.jpg?raw=true);
  }
}
.shop-bg {
  background-image: url(../img/background/img-sp：店内.png);

  @include bre.mq(pc) {
    background-image: url(../img/background/img：店内.png);
  }
}
