$color-base: #2F2F2F;
$color-main: #F2F2F2;
$color-accent: #159741;

$font-Noto: "Noto Sans JP",sans-serif;
$font-Reross: "reross-quadratic",sans-serif;
$font-Satisfy: "Satisfy",sans-serif;

$color-black: #333;
$color-white: #FFF;
